@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

.font{
    font-family: 'Cinzel', serif;
}

.image{
    background-image: url('https://i.ibb.co/tB0T1qh/chef-service.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image2{
    background-image: url('https://i.ibb.co/rFCJhSJ/featured.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.image3{
    background-image: url('https://i.ibb.co/z2t0Sfy/banner3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}